{%load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/layout1.css' %}">
</head>
    <body>
        <h1>{% block header %}{% endblock %}</h1>
        <div class="page_container"
        <ul class="topnav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <h1> TEST </h1>
        {% block content %}{% endblock %}
        </div>
</body>
</html>

